body {
  background-color: #e9e9f3;
}

.app, .main {
  height: 100%
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding-top: 1em;
}

.state-illustration{
  width: 120px;
}


